.root{
    -fx-background-color: #DBE0E5;
}

/* Style for input fields */
.text-field {
    -fx-pref-width: 200px;
}

/* Style for results labels */
#fuelNeededLabel, #fuelCostLabel {
    -fx-font-weight: bold;
}

/* Style for calculate button */
#calculateButton {
    -fx-background-radius: 20px;
    -fx-background-color: #1773CF;
    /*-fx-background-color: #4CAF50;*/
    -fx-text-fill: white;
}

#calculateButton:hover {
    -fx-background-color: #45a049;
}

#calculateButton:pressed {
    -fx-background-color: #3e8e41;
}

#backButton{
    -fx-background-color: #1773CF;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}
#backButton:hover{
    -fx-background-color: #FF5733;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}
#enterGridPlane{
    -fx-border-color: #637587;
    -fx-border-radius: 15px;
}