.root{
    -fx-background-color: #DBE0E5;
}

#truckImage{
    -fx-background-radius: 50px;
}

.button{
    -fx-background-color: #637587;
    -fx-background-radius: 5px;
    -fx-text-fill: #DBE0E5;

}

#gridPlane1,#gridPlane2,#gridPlane3,#gridPlane4, #gridPlane5,#gridPlane6{
    -fx-background-color: #DBE0E5;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}