.root{
    -fx-background-color: #DBE0E5;
}
/* Style for results labels */
#fuelNeededLabel, #fuelCostLabel {
    -fx-font-weight: bold;
}

/* Style for calculate button */
.button {
    -fx-background-radius: 20px;
    -fx-background-color: #1773CF;
    /*-fx-background-color: #4CAF50;*/
    -fx-text-fill: white;
}
#vehicleSelector{
    -fx-border-color: #637587;
    -fx-border-radius: 15px;
    -fx-background-color: #DBE0E5;
    -fx-background-radius: 15px;
}

.button:hover {
    -fx-background-color: #45a049;
}

#updateMileageInput, #vehicleMileageInput{
    -fx-background-radius: 15px;
}

#backButton{
    -fx-background-color: #1773CF;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}
#backButton:hover{
    -fx-background-color: #FF5733;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}
#enterGridPlane{
    -fx-border-color: #637587;
    -fx-border-radius: 15px;
}