.root{
    -fx-background-color: #DBE0E5;
}

#locationInput, #conditionInput{
    -fx-background-radius: 15px;
}
#pickupLocationSelector{
    -fx-border-color: #637587;
    -fx-border-radius: 15px;
    -fx-background-color: #DBE0E5;
    -fx-background-radius: 15px;
}

.button {
    -fx-background-radius: 20px;
    -fx-background-color: #1773CF;
    /*-fx-background-color: #4CAF50;*/
    -fx-text-fill: white;
}
.button:hover {
    -fx-background-color: #45a049;
}

#backButton{
    -fx-background-color: #1773CF;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}
#backButton:hover{
    -fx-background-color: #FF5733;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

#createOrReplaceConditionGridPlane, #getConditionGridPlane{
    -fx-border-color: #637587;
    -fx-border-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}