.root{
    -fx-background-color: #DBE0E5;
}

/* Style for selected table rows */
.table-row-cell:selected {
    -fx-background-color: #b3d9ff;
    -fx-table-cell-border-color: transparent;
}

/* Style for the selection count label */
#selectionCountLabel {
    -fx-font-weight: bold;
    -fx-text-fill: #2a5058;
}

/* Style for the submit button when enabled */
#submitButton {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

#backButton{
    -fx-background-color: #1773CF;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}
#backButton:hover{
    -fx-background-color: #FF5733;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

#submitButton:hover {
    -fx-background-color: #45a049;
}

#submitButton:disabled {
    -fx-background-color: #cccccc;
    -fx-text-fill: #666666;
}